@{
    ViewData["Title"] = "Home Page";
    Layout = "_BlankLayout";
}

<link rel="stylesheet" href="~/Htmls/assets/vendors/feather/feather.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/typicons/typicons.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/Htmls/assets/vendors/select2/select2.min.css">
<link rel="stylesheet" href="~/Htmls/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="~/Htmls/assets/css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="~/Htmls/assets/images/favicon.png" />


<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body align-content-center">
                    <h4 class="card-title">Join</h4>
                    <div class="form-group">
                        <label>Default input</label>
                        <input type="text" class="form-control" placeholder="3456-7890" aria-label="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Htmls/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="~/Htmls/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="~/Htmls/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="~/Htmls/assets/vendors/select2/select2.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/Htmls/assets/js/off-canvas.js"></script>
<script src="~/Htmls/assets/js/template.js"></script>
<script src="~/Htmls/assets/js/settings.js"></script>
<script src="~/Htmls/assets/js/hoverable-collapse.js"></script>
<script src="~/Htmls/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="~/Htmls/assets/js/file-upload.js"></script>
<script src="~/Htmls/assets/js/typeahead.js"></script>
<script src="~/Htmls/assets/js/select2.js"></script>